// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$cyclee_blue_primary: #183B60;
$cyclee_blue_light: #E0EDFB;
$white: #FFFFFF;
$cyclee_purple: #490CFB;

// linear-gradient($cyclee_pink, $cyclee_orange);
$cyclee_pink: #EE596D;
$cyclee_orange: #F88B6E;

