.back a {
  text-decoration: none;
  color: white;
}


.btn-cool {
  background-image: linear-gradient($cyclee_pink, $cyclee_orange);
  border-radius: 50px;
  color: $white;
}

.btn-fast {
  background-color: $white;
  border-radius: 50px;

}

