.back a {
  text-decoration: none;
  color: white;
}

.btn-go {
  background-image: linear-gradient($cyclee_pink, $cyclee_orange);
  color: $white;
  text-decoration: none !important;
  font-family: $poppins;
  font-size: 20px;
  text-align: center;
  border-radius: 50px;
  width: 200px;
}

.btn-go:hover {
  text-decoration: none !important;
  color: $white !important;
}

.btn-map-layers {
  width: 43px;
  border-radius: 50%;
  background: linear-gradient($cyclee_pink, $cyclee_orange);
  margin: 35px 15px;
  padding: 8px;
  text-align: center;
}

.btn-dangers {
  width: 40px;
  border-radius: 50%;
  background: $cyclee_purple;
  margin: 35px 15px;
  padding: 10px;
  text-align: center;
}

.btn-cool { color:white; }
.btn-fast { color:$cyclee_blue_primary; }

.btn:focus {
  box-shadow: none;
}
