.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
  }
}

.form-inputs, .form-actions {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.bottom-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  .row {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 100%;
  }
}

.blur-wrapper {
  position: absolute;
  bottom: 0;
  background: $cyclee_blue_primary;
  z-index: 1;
  widows: 100vw;
  height: 120px;
  left: 0;
  filter: blur(10px);
}

.form-fast {
  background-color: $white;
  color: $cyclee_blue_primary;
}

.form-cool {
  background-image: linear-gradient($cyclee_pink, $cyclee_orange);
  color: $white;
}

.form-fast, .form-cool {
  font-family: $poppins;
  font-weight: semi-bold;
  font-size: 40px;
  text-align: center;
  border-radius: 50px;
  padding: 0px 26px 0px 25px;
  margin: -39px 0px 49px 0px;
}

.blur-background {
  .blur-wrapper {
      position: absolute;
      bottom: 0;
      background: #CBDEF6;
      z-index: 1;
      width: 100vw;
      height: 120px;
      left: 0;
      filter: blur(30px);
  }
}

.blur-background {
  .blur-wrapper{
    .edit{
      opacity: 0.1;
    }
  }
}

#rides-search {
  .blur-background {
    form {
      width: 80%;
      position: relative;
      margin: 30px auto;
      .fa-search {
        position: absolute;
        height: 20px;
        width: 20px;
        z-index: 1;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $cyclee_pink;
        border-left: 1px solid #EE596D;
        padding-left: 20px;
        box-shadow: -10px 0px 6px $cyclee_blue_light;
      }
      input#search {
        background-color: $cyclee_blue_light;
        height: 56px;
        border-radius: 30px;
        border: none;
        color: $cyclee_pink;
        padding-right: 50px;
        &::placeholder {
          color: $cyclee_pink;
        }
      }
    }
  }
  // algolia pimpage
  button.ap-input-icon.ap-icon-pin {
    display: none;
  }

  .ap-input-icon {
    border: 0;
    background: transparent;
    position: absolute;
    top: -61px;
    right: -24px;
    outline: none;
  }

  span#algolia-places-listbox-0 {
    top: auto !important;
    bottom: 100% !important;
    background: #e0edfb;
    border-radius: 30px;
    color: $cyclee_pink;
    .ap-cursor {
      background: #cbdef6;
    }
    .ap-footer {
      display: none;
    }
  }
}

p {
  color: $cyclee_blue_primary;

}

#new_danger {
  display: flex;
  flex-direction: column;
}

#danger_category_nid_de_poule {
  margin-right: 10px;
}

#danger_category_travaux {
  margin-right: 10px;
}

#danger_category_routes_barrées {
  margin-right: 10px;
}
