.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}

.form-inputs, .form-actions {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.form-fast {

}

.blur-background {
  position: fixed;
  bottom: 0;
  .row {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 100%;
  }
}

.blur-wrapper {
    position: absolute;
    bottom: 0;
    background: green;
    z-index: 1;
    width: 100vw;
    height: 120px;
    left: 0;
    filter: blur(10px);
}

.form-fast {
  background-color: $white;
  color: $cyclee_blue_primary;
}
.btn-cool { color:white }
.btn-fast { color:$cyclee_blue_primary }

.form-cool {
  background-image: linear-gradient($cyclee_pink, $cyclee_orange);
  color: $white;
}

.form-fast, .form-cool {
  font-family: $poppins;
  font-weight: semi-bold;
  font-size: 40px;
  text-align: center;
  border-radius: 50px;
  padding: 0px 26px 0px 25px;
  margin: 15px 0px 15px 10px;
}
