#map {
  width: 414px;
  height: 500px;
}

.mapboxgl-ctrl-top-right {
  top: 70px;
}

.mapboxgl-user-location-dot {
  background-color: $cyclee_pink;
}

.mapboxgl-user-location-dot:before,
.mapboxgl-user-location-dot:after {
  background-color: $cyclee_pink;
}

.mapboxgl-user-location-accuracy-circle {
  background-color: transparent;
}

.mapboxgl-user-location-accuracy-circle {
  display: none;
}

.mapboxgl-marker-anchor-center {

}

a.mapboxgl-ctrl-logo, .mapboxgl-ctrl-bottom-right {
    display: none;
}

.marker-danger {
  background-image: url('pothole-road.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
