#map {
  width: 414px;
  height: 500px;
}

.mapboxgl-ctrl-top-right {
  top: 70px;
}

.mapboxgl-user-location-dot {
  background-color: $cyclee_pink;
}

.mapboxgl-user-location-dot:after {
  background-color: $cyclee_pink;
}

.mapboxgl-user-location-accuracy-circle {
  background-color: transparent;
}

.mapboxgl-user-location-accuracy-circle {
  position : relative;
  width : 50px;
  height : 50px;
  background-color : transparent;
  border : 3px solid $cyclee_pink;
  -webkit-transition : border 500ms ease-out;
  -moz-transition : border 500ms ease-out;
  -o-transition : border 500ms ease-out;
  transition : border 500ms ease-out;
}

// #content:after {
//     border-color: pink;
// }
// .mapbox-user-location-accuarcy-circle {
//   border-color: $cyclee_pink;
//   border-width: 20px;
//   background-attachment: non;
// }

// .mapboxgl-user-location-accuracy-circle, .mapboxgl-marker, .mapboxgl-marker-anchor-center {
//   background-color: none;
// }
