#map {
  width: 414px;
  height: 500px;
}

.mapboxgl-ctrl-top-right {
  top: 70px;
  z-index: 0;
  right: 1rem;
}

.mapboxgl-user-location-dot {
  background-color: $cyclee_pink;
}

.mapboxgl-user-location-dot:before,
.mapboxgl-user-location-dot:after {
  background-color: $cyclee_pink;
}

.mapboxgl-user-location-accuracy-circle {
  background-color: transparent;
}

.mapboxgl-user-location-accuracy-circle {
  display: none;
}

.mapboxgl-marker-anchor-center {

}

a.mapboxgl-ctrl-logo, .mapboxgl-ctrl-bottom-right {
  display: none;

}

.mapboxgl-ctrl {
  box-shadow: none !important;
  margin: 0 !important;
  border-radius: 50%;
  height: 38px;
  width: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marker-nid {
  background-image: url('pothole-road.png');
  background-size: contain;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.marker-barrees {
  background-image: url('close-road.png');
  background-size: contain;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.marker-travaux {
  background-image: url('construction_road.png');
  background-size: contain;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

