.marker_parking {
  background-image: url('parking.png');
  background-size: contain;
  width: 30px;
  height: 30px;
  // border-radius: 50%;
  cursor: pointer;
}

.marker_pump {
  background-image: url('pump.png');
  background-size: contain;
  width: 30px;
  height: 30px;
  // border-radius: 50%;
  cursor: pointer;
}

.marker_repairer {
  background-image: url('repair.png');
  background-size: contain;
  width: 30px;
  height: 30px;
  // border-radius: 50%;
  cursor: pointer;
}

.marker-nid {
  background-image: url('pothole.svg');
  background-size: contain;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.marker-barrees {
  background-image: url('route_barre.png');
  background-size: contain;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.marker-travaux {
  background-image: url('cone.png');
  background-size: contain;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.marker-duration {
  color: $cyclee_blue_primary;
  background-color: $cyclee_blue_light;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
}

.marker-duration-alt {
  color: $cyclee_pink;
  background-color: $cyclee_blue_light;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
}

.marker_edit, .marker_show, .marker_flag_parkings {
  background-image: asset-url('purpleflag.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  // border-radius: 50%;
  cursor: pointer;
}

.marker_origin {
  background-image: asset-url('cone.png');
}
