.modal {
  padding: 16px;
  align-items: flex-end;
  &.show {
    display: flex !important;
  }
  .modal-dialog {
    margin: 0;
    width: 100%;
  }
  .modal-content {
    border-radius: 20px;
  }
}

// #modalDanger {
//   top: 175px;
//   left: 25px;
// }

// #modalHotspot {
//   top: 196px;
//   left: 25px;
//   ul {
//     list-style-type: none;
//     color: $cyclee_blue_primary;
//   }
//   li {
//     text-decoration: none;
//   }
// }

// #modalParking {
//   top: 240px;
//   left: 25px;
//   input:last-child {
//    margin-left: 30px;
//   }
// }

.modal-content {
  // width: 85%;
  // border-radius: 10px 10px 0 0;
  text-align: center;
  h5 {
    color: $cyclee_blue_primary;
  }
  // .btn-cyclee.btn-cool {
  //   margin-left: 15px;
  // }

  .modal-body {
    p {
      margin-top: 0;
      margin-bottom: 1rem;
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}


  .modal-title {
    margin-left: 20px;
  }

#new_danger {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  span {
    margin-bottom: 10px;
    color: $cyclee_blue_primary;
    label {
      margin-left: 20px;
    }
  }
  input:last-child {
    margin: 12px auto;
  }
}

#new_danger span:first-child {
  margin-top: 10px;
}

.form-group {
  margin: 0px;
}


#danger_category_nid , #danger_category_barrees , #danger_category_travaux {
  background-color: $cyclee_purple;
}

// [type="radio"]:checked label {
//   text-decoration: underline;
// }


.AffiParking {
  background-image: asset-url('parking.png');
  height: 33px;
  width: 33px;
  background-size: cover;
  margin: 10px 20px;
}

.AffiRepair {
  background-image: asset-url('repair.png');
  height: 30px;
  width: 30px;
  background-size: cover;
  margin: 10px 20px;
}

.AffiPump {
  background-image: asset-url('pump.png');
  height: 30px;
  width: 30px;
  background-size: cover;
  margin: 10px 20px;
}

.AffiDirection {
  background-image: asset-url('direction.png');
  height: 30px;
  width: 30px;
  background-size: cover;
  margin: 10px 20px;
}

.collection_radio_buttons {
  margin-left: 20px;
  color: $cyclee_blue_primary;
  &:label {
    margin-bottom: 0;
  }
}

label.collection_radio_buttons {
  margin-bottom: 0;
  &:active {
    text-decoration: underline;
  }
}


.danger-icon-nid {
  background-image: asset-url('pothole.svg');
  height: 30px;
  width: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

.danger-icon-travaux {
  background-image: asset-url('cone.png');
  height: 30px;
  width: 30px;
  background-size: cover;
}

.danger-icon-barrees {
  background-image: asset-url('route_barre.png');
  height: 30px;
  width: 30px;
  background-size: cover;
}
