.navbar-lewagon {
  display:flex;
  justify-content: end;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

#navbarSupportedContent {
  background-color: white;
  width: 56px;
  border-radius: 50%;
  p {
    font-size: 24px;
    margin-bottom: 0;
    margin: 10px 0;
  }
}
