<div id="map_hotspots"
  style="width: 100vw; height: 100vh;"
  data-hotspots="<%= @hotspot_markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>


<!-- <div id="map_parkings"
  style="width: 100vw; height: 100vh;"
  data-markers="<%#= @markers.to_json %>"
  data-parking-spots="<%= @parking_markers.to_json %>"
  data-cycling-waypoints="<%#= @cycling_waypoints.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div> -->
