<div id="map_parkings"
  style="width: 100vw; height: 100vh;"
  data-parkings="<%= @parkings_markers.to_json %>"
  data-markers="<%= @markers.to_json %>"
  data-cycling-waypoints="<%= @cycling_waypoints.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
