<div id="map"
     style="width: 414px; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-cycling-waypoints="<%= @cycling_waypoints.to_json %>"
     data-driving-waypoints="<%= @driving_waypoints.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
