<div class="index_rides">
  <h3 class="mb-3 p-3">Mes recherches</h3>
  <% @rides.each do |ride| %>
    <div class="m-3 border-bottom">
      <ul>
        <%= link_to search_path(query: ride) do %>
          <li><p><%= ride %></p></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
